@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.default-text {
    color: rgba(0, 0, 0, .87) !important;
}

nav {
    a {
        @extend .default-text;
    }
}

#mobile-nav-header {
    @extend .default-text;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    margin: 0;

    span {
        font-size: 2.1rem;
        padding: 0 16px;
    }
}

.loader {
    @include center;
}

.no-display {
    @include center;
}

.row .col.s1-7 {
    width: 14.2857143%;
    margin-left: auto;
    left: auto;
    right: auto;
}

#calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);

    .cal-row {
        flex: 1 1 0%;
        display: flex;
        flex-direction: row;
        border-top: #e0e0e0 solid 1px;

        &:nth-of-type(1) {
            flex: 0 1 20px;
        }

        &:first-of-type() {
            border-top: none;
        }

        &:nth-of-type(2) {
            border-top: none;
        }

        & > div {
            flex: 1 1 0%;
            border-left: #e0e0e0 solid 1px;
            display: flex;
            flex-direction: column;

            &:first-of-type() {
                border-left: none;
            }

            span {
                padding: 10%;
            }

            a {
                width: 100%;
                height: 100%;
                
                div {
                    padding-left: 9%;
                }
            }
        }
    }
}

nav li a.less-padding {
    padding: 0 5px;
}

.navcheckbox {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    cursor: pointer;
}

.v-center {
    text-align: center;
}